* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppoints', Sans-Serif;
}
body{
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li{
  list-style-type: none;
}
@import url('https://fonts.googleapis.com/css2? family= Pacifico & display=swap');

/* background awal setiap .html */
.index{
  background: var(--bg);
  width: 100%;
  height: 100vh;
}
.home {
  background-image: url('../img/1.png');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.login {
  background-image: url('../img/1.png');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* index html */
:root{
  --bg: #222;
}
.icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 10%;
  right: 10%;
}
.icon ul{
  position: relative;
  display: flex;
  gap: 50px;
}
.icon ul li{
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.icon ul li:hover{
  z-index: 10000;
  transform: scale(0.75);
}
.icon ul li::before{
  content: " ";
  position: absolute;
  inset: 20px;
  box-shadow: 0 0 0 10px var(--clr), 0 0 0 20px var(--bg), 0 0 0 22px var(--clr);
  transition: 0.5s;
}
.icon ul li:hover::before{
  inset: 0px;
}
.icon ul li::after{
  content: " ";
  position: absolute;
  inset: 0;
  background: var(--bg);
  transform: rotate(50deg);
}
.icon ul li a{
  position: relative;
  color: var(--clr);
  z-index: 10;
  font-size: 2em;
  transition: 0.5s;
}
.icon ul li:hover a{
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--clr)) drop-shadow(0 0 40px var(--clr)) drop-shadow(0 0 60px var(--clr));
}
.rom{
  display: flex;
  position: absolute;
  top: 80%;
  right: 10%;
  left: 10%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.klik{
  transition: all 0.1s;
  webkit-transition: all 0.1s;
}
.redy{
  padding: 20px 120px;
  border-radius: 10px;
  font-family: 'Pacifico' ,cursive;
  font-size: 25px;
  color: #abdbe3;
  font-weight: bold;
}
.warna{
  background-color: #2366e3;
  border-bottom: 5px solid #1a2b80;
  text-shadow: 0px -2px #2980B9;
}
.redy a:active{
  transform: translate(100px,52px);
  webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

/* home html */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  min-height: auto;
  bottom: 0;
  border-radius: 10px;
  margin-top: 90vh;
  background-color: rgba(240,245,244,255 .5);
  backdrop-filter: blur(25px);
  box-shadow: 8px 8px 18px 2px rgba(0,0,0,0.75);
}
.navbar ul{
  display: flex;
  width: 95%;
  justify-content: center;
  align-items: flex-wrap;
  gap: 25px;
}
.navbar ul li{
  position: relative;
  display: flex;
  flex: wrap;
  z-index: 1;
  width: 80px;
  height: 80px;
}
.navbar ul li .aktip{
  box-shadow: 7px 7px 17px 0px rgba(0,0,0,0.75);
  border-radius: 40px;
  width: 1.4em;
  height: 1.4em;
  transform: translateY(-20px);
}
.navbar ul li a .textAktip{
  position: absolute;
  font-size: 0.70em;
  font-weight: 400;
  letter-spacing: 0.09em;
  transition: 0.5s;
  transform: translateY(15px);
}
.navbar ul li a{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-weight: 900;
}
.navbar ul li a .icons{
  position: relative;
  display: block;
  text-align: center;
  font-size: 1.9em;
  transition: 0.5s;
  color: white;
  font-weight: 900;
}
.navbar ul li:hover a .icons{
  transform: translateY(-20px);
  background-color: rgba(240,245,244,255 .9);
  backdrop-filter: blur(20px);
  box-shadow: 7px 7px 17px 0px rgba(0,0,0,0.75);
  border-radius: 40px;
  width: 1.4em;
  height: 1.4em;
}
.navbar ul li a .text{
  position: absolute;
  font-size: 0.70em;
  font-weight: 400;
  letter-spacing: 0.09em;
  transition: 0.5s;
  text-shadow: 7px 7px 17px rgba(0,0,0,0.75);
  opacity: 0;
  transform: translateY(15px);
}
.navbar ul li:hover a .text{
  opacity: 1;
  transform: translateY(15px);
}

.homebox{
  width: 95%;
  overflow: hidden;
  margin: 10px auto;
}
.slider{
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  gap: 20px;
}
.boxy{
  background-color: white;
  scroll-snap-align: start;
  flex-shrink: 0;
  border: 1px solid ;
  border-radius: 7px;
  width: 350px;
  height: 210px;
  transform-origin: center center;
}

.profile{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 20px;
}
.profile .iner1{
  display: flex;
  color: white;
}
.profile .logo{

}
.profile img{
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 7px 7px 17px 0px rgba(0,0,0,0.75);
}
.profile .iner{
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10px;
}
.profile .iner h4{
  margin-left: 5px;
}
.profile .bar{
  display: flex;
  flex-direction: column;
  height: 22px;
  justify-content: space-between;
  position: relative;
}
.profile .bar input{
  position: absolute;
  width: 40px;
  height: 28px;
  left: -6px;
  top: -3px;
  opacity: 0;
  z-index: 2;
}
.profile .bar span{
  display: block;
  width: 28px;
  height: 3px; 
  background-color: white;
  border-radius: 3px;
  transition: all 0.6s;
}
.profile .bar span:nth-child(2){
  transform-origin: 0 0;
}
.profile .bar span:nth-child(4){
  transform-origin: 0 100%;
}
.profile .bar input:checked ~ span:nth-child(2){
  transform: rotate(45deg) ;
}
.profile .bar input:checked ~ span:nth-child(4){
  transform: rotate(-45deg) ;
}
.profile .bar input:checked ~ span:nth-child(3){
  transform: scale(0);
  opacity: 0;
}
/*loader*/
.go-loader {
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-loader .loader {
  width: 100px;
  height: 100px;
  border: 3px solid #fff;
  border-radius: 50%;
  border-top-color: darkblue;
  border-right-color: darkblue;
  border-bottom-color: darkblue;
  animation: puterin .9s linear infinite;
}

/* Bagian Content */
.judul {
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
}
.cn{
  padding-top: 100px;
  text-align: center;
}
.cn{
  padding: 0px auto;
  font-size: 30px;
  color: darkblue;
  font-weight: bolder;
  font-family: Sans-Serif;
  border-radius: 20px;
}

.label {
  position: fixed;
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  background-color: darkblue;
  z-index: 1;
}
.label ul{
  display: inline-block;
}
.label ul li {
  display: flex;
  margin: 20px;
}
.label ul li a {
  display: inline-block;
  color: white;
}
.user {
  float: right;
}
.bi{
  font-size: 20px;
}

span {
  padding: 0px 5px;
  color: white;
}
.posisi {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.searcing {
  background: rgba( 0, 0, 139, 0.2);
  display: flex;
  border-radius: 70px;
  padding: 10px 0px;
  width: 85%;
  height: 45px;
  align-items: center;
  box-shadow: 2px 2px 15px gray;
}
.searcing input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 15px;
  font-size: 15px;
  color: darkblue;
}
::placeholder {
  color: darkblue;
}
.searcing button {
  background: none;
  border: 0;
  width: 55px;
  height: 55px;
}
.searcing button img{
  border: 0;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  background: #58629b;
  cursor: pointer;
  padding: 0 0;
  margin: 0;
  box-shadow: 3px 3px 10px #ddd;
}

.container{
  margin: 50px 0;
}
.sub-hed{
  text-align: center;
  color: darkblue;
  font-size: 20px;
}
.hed{
  text-align: center;
  color: black;
  font-size: 15px;
  padding-bottom: 2rem;
  text-transform: uppercase;
}
.row{
  display: flex;
  flex-wrap: wrap;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.box{
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 10px 7px;
  background-color: #ddd;
  border: 2px solid black;
}
.box .komen{
  display: inline-block;
  text-align: end;
}
.box .komen i{
  color: red;
}
.box .komen a{
}
.box img{
}
.box h3{
  font-size: 15px;
}
.box span{
  color: rgb(0, 0, 0, 0.5);
  font-size: 10px;
  font-weight: bold;
}


@keyframes puterin {
  100% {
    transform: rotate(360deg);
  }
}

